@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tecnicas de Programação</h1>
    <p>Visite a <a href="https://www.uninove.br/">Uninove</a> para mais conteúdos.
    <div>

        <h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque est consequatur, impedit consectetur quos veritatis beatae natus delectus? Expedita minima sit ratione a nobis, placeat labore unde eos voluptatum tenetur.

            <li>
                <u>Lorem ipsum dolor sit amet consectetur adipisicing elit.</u>
                <u>Lorem ipsum dolor sit amet consectetur adipisicing elit.</u>
                <u>Lorem ipsum dolor sit amet consectetur adipisicing elit.</u>
                <u>Lorem ipsum dolor sit amet consectetur adipisicing elit.</u>
                <u>Lorem ipsum dolor sit amet consectetur adipisicing elit.</u>
            </li>
        </h2>

        <h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure itaque tempore sequi eos explicabo et consequatur fugit blanditiis fuga, suscipit nemo! Praesentium assumenda rem repudiandae eum, iure ducimus sed aut.lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut asperiores totam suscipit et tempore vero aspernatur beatae vitae ipsa eius illo nam repellat autem libero non ad, architecto assumenda odit?</p>
        </h2>


    </div>
</div>
 